# This is a basic workflow to help you get started with Actions

name: Update Lua documentation

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ develop ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: "Update Lua documentation"
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Check directory
      run: dir

    - name: Download luarocks
      run: |
        Invoke-WebRequest https://hyperion-lua-deps.s3.amazonaws.com/luarocks-3.3.1.zip -OutFile luarocks-3.3.1.zip

    - name: Unzip luadrocs
      run: |
        Expand-Archive -LiteralPath luarocks-3.3.1.zip -DestinationPath luarocks-3.3.1
    
    - name: Install luarocks, ldoc, create docs
      run: |
        Set-ExecutionPolicy RemoteSigned -Force
        Push-Location .\luarocks-3.3.1\scripts\
        .\full_install_ldoc.ps1
        Pop-Location
        ldoc -i .
      shell: powershell
    
    - uses: actions/upload-artifact@v2
      with:
        name: docs
        path: doc/*
        
#     - name: Clone repo for Push
#       run: git clone https://vit-goncharov:${{ secrets.TOKEN }}@github.com/hyperionix/docs.git
    
#     - name: Check root directory
#       run: dir
    
#     - name: Copy files in repo
#       run: xcopy doc docs/sysapi /E
      
#     - name: Configure git
#       run: |
#         git config --global credential.helper store
#         Add-Content -Path "$HOME\.git-credentials" -Value "https://$($env:${{ secrets.TOKEN }}):x-oauth-basic@github.com`n" -NoNewline
#         git config --global user.email "${{ secrets.UEMAIL }}"
#         git config --global user.name "vit-goncharov"
#       shell: powershell
    
#     - name: Add changes
#       run: git add .
#       working-directory: ./docs
        
#     - name: Commit changes
#       run: git commit -m "Update docs"
#       working-directory: ./docs
    
#     - name: Push changes
#       run: git push origin master
#       working-directory: ./docs

